.video-shape {
  width: 300px;
  height: 180px;
  background-color: #f94c1cb6;
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: end;
  position: absolute;
  bottom: -3px;
  left: -51px;
  border-start-end-radius: 50px;
  border-end-end-radius: 50px;
  transform: rotate(-31deg);
  max-width: 100%;
  max-height: 100%;
}
.video-shape .video-border {
  transform: rotate(31deg);
  margin-right: 70px;
  cursor: pointer;
}
